# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Static files
staticfiles/

# Media
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db